*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: transparent;

}
:root{
  --textColor: rgb(10, 182, 205);
  --fontSize: 40px
}
body{
  background: rgba(30,30, 30, 0.9);
  color: #ffff;
  font-style: italic;

}
.nav1{
  background-color: rgb(1, 1, 17);
}
.nav-items{
  font-size: 18px;
  color: #fff;
  font-style: italic;
}
.nav-items a{
  text-decoration: none;
  padding: 8px;

}

.nav-active{
  color: rgb(242, 9, 48);
}
.nav-link{
  justify-content: space-evenly;
  text-align: center;

}
.navbar-brand-container {
  overflow: hidden;
  position: relative;
}

.navbar-brand-animation {
  position: relative;
  animation: slideLeft 6s infinite;
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.p-title{
  font-size: 50px;
  color: rgb(10, 182, 205);
  font-weight: bold;
  font-style: italic;
}

/* Home section */
.sec-heading{
  color: var(--textColor);
  font-size: var(--fontSize);
  margin-bottom: 25px;
  font-weight: bold;
  align-items: center;

}
.hero-img {
  width: 100%;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero-title{
  
  text-align: 'center';
  color: #ffff;
  justify-content: center;
  font-weight: bold;
  font-size: 45px;
  font-style: italic;
  margin-top: 90px;


}
.name-sec{
  color: #fff;
  font-style: italic;
  font-size: 35px;

}
.name-sec1{
  color: rgb(244, 14, 60);
  font-size: 38px;
  font-weight: bold;


}
.job-title{
  font-size: 43px;
  color: rgb(10, 182, 205);
  font-weight: bold;
  font-style: italic;
}
.home-btn2{
  margin: 15px;
  background-color: rgb(244, 14, 60);


}

/* about section */
.about-img{
  margin-top: 10px;
  width: 70%;
  height: auto;
  border-radius: 5px;
}
.about-title{
  margin-top: 10px;
  color: rgb(242, 9, 48);
  font-size: 25px;
  font-weight: bold;
}

.about-p{
  font-size: 17px;
}
.fa-linkedin{
  font-size: 25px;
  color: darkgray;

}
.fa-github{
  font-size: 25px;
  color: darkgray;
  margin-left: 10px;
}
.fa-linkedin:hover, .fa-github:hover{
  background-color: crimson;
  transform: translateY(-10px);
}
.btn-about{
  width: 100px;
  background-color: rgb(3, 75, 75);
}
.btn-about:hover{
  background-color: crimson;
}

/* project-section */
.card-title{
  color: rgb(242, 9, 48);
  font-size: 22px;
  text-align: center;

}
.card-text{
  font-size: 15px;
  color:grey;
}
.btn1, .btn2, .btn3{
  width: 100px;
  background-color: rgb(3, 75, 75);
}


/* skills section */

.progress-bar1{
  border-radius: 100%;
  
}

.progress-container {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* contact section */
.contact-title{
  font-size: 30px;
  color: crimson;
  margin-top: 30px;
}
.cont-p{
  font-size: 14px;
}
.sub-btn1{
  margin-left: 10px;
  width: 30%;
  height: 35px;
  margin-bottom: 50px;

}
.sub-btn1:hover{
  background-color: crimson;
  transform: translateY(-10px);
  transition-duration: 5s;
}


/* Footer section */
.footer-title{
  color: rgb(244, 14, 60);
  font-size: 35px;
}
.span-a{
  color: rgb(240, 240, 6);
  font-size: 37;
}
.footer-p{
  font-size: 15px;
}
.footer-p1{
  font-size: 13px;
}
input[type="text"]{
  width: 65%;
  height: 35px;
  background-color: #fff;
  border-radius: 5px;
  margin-top: 30px;
}
input[type="text"]::placeholder{
  color:rgb(63, 59, 59);
  font-size: 12px;
}
.sub-btn{
  margin-left: 10px;
  width: 30%;
  height: 35px;

}
.sub-btn:hover{
  background-color: rgb(3, 75, 75);

  
}

.footer-col-3{
  font-size: 25px;
}
.quick-link{
  font-size: 15px;
  margin-left: 40px;
}